/* @import 'https://fonts.googleapis.com/css?family=Oswald'; */

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: black;
    background-image: url('../images/travel.png');
    background-repeat: repeat-y, repeat-x;
    /* background-position: 0px 0px, left bottom; */
    /* margin-bottom: 100px; */
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 3px #adc6d6;
}

p {
    text-align: justify;
}

header,
main,
footer {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    padding: 10px;
}

header,
footer {
    opacity: 0.9;
}

header {
    border-radius: 10px 10px 0 0;
    padding-bottom: 0;
    position: relative;
}

footer {
    border-radius: 0 0 10px 10px;
}


article {
    margin: 0 2em;
    border-bottom: 1px dotted gray;
    padding-bottom: 20px;
    overflow: hidden;
}


article:last-of-type {
    border: 0;
}

footer p {
    text-align: center
}

header nav {
    background-color: #ddd;
    /* Defines an element's background color.*/
    padding: 5px 5px 5px 10px;
    /* Sets the padding on all four sides of the element.*/
    margin-left: -10px;
    /* Sets the left margin of the element.*/
    margin-right: -10px;
    /* Sets the right margin of the element.*/
    border-top: 1px solid black;
    /* Sets the width, style, and color of the top border of an element.*/
    border-bottom: 1px solid black;
    /* Sets the width, style, and color of the bottom border of an element.*/
}

article+nav {
    text-align: right;
    /* Sets the horizontal alignment of inline content.*/
    padding-right: 30px;
    /* Sets the padding to the right side of an element.*/
    margin-bottom: 20px;
    /* Sets the bottom margin of the element.*/
}

a[href="#innerpagemenu"] {
    text-decoration: none;
    /* Specifies the decoration added to text.*/
}

header nav ul li {
    display: inline;
    /*Specifies how an element is displayed onscreen.*/

    white-space: nowrap;
    /* Specifies how white space inside the element is handled.*/
}

header nav a {
    text-decoration: none;
    /* Specifies the decoration added to text.*/
    font-variant: small-caps;
    /* Specify the font variant.*/
    font-size: 1.5em;
    /* Defines the font size for the text.*/
    margin-right: 1em;
    /* Sets the right margin of the element. */
}

header nav a:link {
    color: black;
    /* Specify the color of the text of an element.*/
}

header nav a:visited {
    color: #666;
    /* Specify the color of the text of an element.*/
}

header nav a:hover {
    text-decoration: underline
}

/* Specifies the decoration added to text. */

.screenreader a {
    position: absolute;
    /* Specifies how an element is positioned.*/
    left: -9999px;
    /* Specify the location of the left edge of the positioned element. */
}

.screenreader a:focus {
    position: static;
    /* Specifies how an element is positioned.*/
    background: white
        /*Defines a variety of background properties within one declaration.*/
}

nav#innerpagemenu li span {

    background-image: url("../images/icons.png");
    /* Defines an element's background image.*/
    background-repeat: no-repeat;
    /* Specify whether/how the background image is tiled.*/
    display: inline-block;
    /* Specifies how an element is displayed onscreen.*/
    width: 30px;
    /*Specify the width of an element.*/
    height: 30px;
    /* Specify the height of an element.*/
    margin-right: 5px;
    /* Specify the right margin.*/

}

nav#innerpagemenu li:nth-child(1) span {
    background-position: 0 0;
    /*Defines the origin of a background image.*/
}

nav#innerpagemenu li:nth-child(2) span {
    background-position: -60px 0px;
    /*Defines the origin of a background image.*/
}

nav#innerpagemenu li:nth-child(3) span {
    background-position: -120px 0px;
    /*Defines the origin of a background image.*/
}

nav#innerpagemenu li:nth-child(4) span {
    background-position: -180px 0px;
    /*Defines the origin of a background image.*/
}

nav#innerpagemenu li:hover span {
    transform: scale(1.3);
    /*Applies a 2D or 3D transformation to an element.*/
}

nav#forvisualimpairment {
    position: absolute;
    /* Specifies how an element is positioned.*/
    width: 210px;
    /*Specify the width of an element.*/
    right: 20px;
    /* Specify the location of the right edge of the positioned element.*/
    top: 10px;
    /* Specify the location of the top edge of the positioned element.*/
    border: 1px solid black;
    /* Sets the width, style, and color for all four sides of an element's border.*/
    border-radius: 0 10px 0 0;
    /* Defines the shape of the border corners of an element.*/
}

nav#forvisualimpairment span {
    background-image: url("../images/icons.png");
    /* Defines an element's background image.*/
    background-repeat: no-repeat;
    /* Specify whether/how the background image is tiled.*/
    display: inline-block;
    /* Specifies how an element is displayed onscreen.*/
    width: 60px;
    /*Specify the width of an element.*/
    height: 60px;
    /* Specify the height of an element.*/
    margin-right: 5px;
    /* Sets the right margin of the element.*/
    background-position: -240px 0px;
    /* Defines the origin of a background image.*/
    float: left;
    /* Specifies whether or not a box should float.*/
}

a#normaltext {
    display: none;
    /*Specifies how an element is displayed onscreen.*/
}
/* end of navigation */


/* Awards block */
article#itineraries table {
	border-collapse:collapse;
	/* Specifies whether table cell borders are connected or separated.*/
	border:3px double gray;
	/* Sets the width, style, and color for all four sides of an element's border.*/
	margin:0 auto;
	/* Sets the margin on all four sides of the element.*/
}


article#itineraries table th {
	border:1px solid gray;
	padding:5px;
    background-color: #666;
}
article#itineraries table th1{
    background-color: aqua;
}

caption {caption-side: bottom;
/* Specify the position of table's caption.*/}


.button-container {
    display: flex;
}

.image-button {
    width: 150px;
    height: 75px;
    border: none;
    cursor: pointer;
    background-size: 100% 100%; /* Ensure the background covers the entire button without duplication */
    margin: 10px;
}

.button1 {
    background-image: url('../images/plane.jpg');
}

.button2 {
    background-image: url('../images/car.jpg');
}

.button3 {
    background-image: url('../images/train.jpg');
}

.button4 {
    background-image: url('../images/bus.jpg');
}



article#transportations {
    position: relative;
    padding-bottom: 620px;
}

article#transportations figure {
    border: 1px dotted gray;
    width: 300px;
    padding: 10px;
    position: absolute;
    margin: 0;
    background-color: #fd95e8;
    text-align: center;
    transition: background linear 1s;
    border-radius: 30px;
}
article#transportations figure figcaption {
    margin-top: 10px;
    font-size: 0.87em;
    opacity: 0;
    transition: opacity linear 0.5s;
}
article#transportations figure:hover figcaption {
    opacity: 1;
}
article#transportations figure img {
    border: 1px dotted gray;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity linear 0.5s;
}

article#transportations figure p {
    display: none;
    margin-top: 10px;
    font-size: 0.87em;
}

article#transportations figure:hover {
    z-index:10;
}

article#transportations figure:nth-of-type(1) {
    bottom: 50px;
    left: 100px;
    transform: rotate(-4deg);
}

article#transportations figure:nth-of-type(2) {
    bottom: 70px;
    left: 440px;
    transform: rotate(-7deg);
}

article#transportations figure:nth-of-type(3) {
    bottom: 320px;
    left: 100px;
    transform: rotate(7deg);
}

article#transportations figure:nth-of-type(4) {
    bottom: 320px;
    left: 440px;
    transform: rotate(-10deg);
}

article#accommodation {
    padding: 20px;
    text-align: center;
}

article#accommodation h2 {
    color: #09b0c9;
}

article#accommodation p {
    margin-bottom: 20px;
}


/* Example CSS for navigation highlighting */
nav a.current-page {
    font-weight: bold; /* or any other style to differentiate */
}

.button-container {
    position: relative;
}

.image-button {
    margin: 10px;
}

.button-info {
    display: none;
    position: static;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styles for the large text stylesheet */
body.large {
    font-size: 1.3em;
}

/* article#accommodation figure{
    /* width: 300px; */

#accommodation .image-container {
    display: flex;
}

#accommodation figure {
    margin: 0 10px; /* Adds space between the figures */
}

#accommodation img {
    max-width: 100%; /* Ensures images don't exceed their natural size */
    height: auto; /* Maintains the aspect ratio of the images */
    display: block; /* Removes extra spacing below the images */
}

article{
    padding-bottom: 20px;
}
tr{
    background-color: #fd95e8;
}
td{
    background-color: aqua;
}
th{
    background-color: yellow;
}

.navbar {
    z-index: 1000; /* Adjust the value based on your needs */
}
@media print{
    article#transportations figure figcaption {
        opacity: 1;
    }
    article#transportations figure {
        position: static;
    }
    nav#forvisualimpairment {
        display: none;
    }
}

@media (max-width: 576px) {
    article#transportations figure{
        position: static;
    }
}


